.logo-section {
    padding-top: 63px;
    margin-bottom: 38px;
}
.logo {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.span-ramda {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #18adc7;
}
.top-menu {
    list-style: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    background: #35444F;
}
.top-menu-section{
    margin-bottom: 48px;
    text-align: center;
}
.top-menu-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;  
}
.top-menu-item1 {
    display: inline-block;
    padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 19px;
    padding-left: 32px;
}
.top-menu-item {
    display: inline-block;
    padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 19px;
    padding-left: 38px;
    border-left: 1px solid white;
}
.top-menu-item:hover {
    background: #222f3a;
}
.left-menu-section {
    display: inline-block;
    text-align: left;
    float: left;
    width: 27%;
    margin-right: 1.5%;
}
.left-menu {
    list-style: none;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}
.left-menu-item {
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 44px;
    padding-right: 82px;
}
.left-menu-item:hover {
    background: #dfdfdf;
    text-align: center;
    color: #35444F;
}
.left-menu-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 27px;
    line-height: 26px;
    color: #495863;
    text-decoration: none;  
}
.selected-content {
    display: flex;
    float: right;
    flex-direction: column;
    width: 70%;
}
.image-section {
    border: 1px solid black;
    text-align: center;
    padding-top: 75px;
    padding-right: 268px;
    padding-bottom: 73px;
    padding-left: 297px;
    margin-bottom: 1.5%;
}
.content {
    text-align: left;
}
.content-text1 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    text-decoration: none;  
    margin-bottom: 1.5%;
}
.content-text2 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    text-decoration: none;  
    margin-bottom: 1.5%;
}
.page-footer {
    clear: both;
}
.container {
    max width: 1280px;
    margin: 0 auto;
}
.bottom-menu {
    list-style: none;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}
.bottom-menu-section{
    margin-bottom: 30px;
    text-align: left;
    float: left;
    background: rgba(99, 105, 110, 0.48);
    width: 80%;
}
.bottom-menu-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    text-decoration: none;  
}
.bottom-menu-item {
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left: 40px;
}
.bottom-menu-item-link:hover {
    color: #18adc7;
    text-decoration: underline;
}
.page-footer {
    text-align: right;
}
.copyright-section {
    float: right;
    background: rgba(99, 105, 110, 0.48);
    width: 20%;
}
.copyright-text {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 21px;
    padding-right: 40px;
}
.image-ramda {
    transition: 1s; 
}       
.image-ramda:hover {
    transform: scale(1.2); 
}